* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  width: 100%;
  background-color: rgb(8, 8, 89);
  margin-bottom: 3rem;
}

.header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1.5rem;
  gap: 1rem;
}

.header-icon {
  width: 3rem;
  height: 3rem;
  filter: invert(100%);
}

.header-title {
  color: rgb(211, 216, 221);
  font-size: 1rem;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.main-tittle {
  font-size: 2rem;
  text-align: center;
}

.facts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgb(18, 37, 112);
  border-radius: 3rem;
  padding: 2rem 3rem;
  min-width: 55%;
  max-width: 70%;
  margin-bottom: 3rem;
}

.facts-title {
  font-size: 1.5rem;
  text-align: center;
  padding: 0.8rem;
  color: aliceblue;
}

.facts-select {
  font-size: 1rem;
  font-family: "Press Start 2P", serif;
  padding: 1rem;
  margin-bottom: 1rem;
}

.facts-select option {
  font-size: 1rem;
}

.facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fact-img {
  min-width: 50%;
  max-width: 70%;
  min-height: 50%;
  max-height: 70%;
  margin-bottom: 1rem;
  background-color: aliceblue;
  border-radius: 4rem;
}

.fact-text {
  display: inline-block;
  width: 95%;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  color: aliceblue;
}

.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(8, 8, 89);
  padding: 1rem;
}

.footer-title {
  color: aliceblue;
  font-size: 2rem;
}

.fact-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.fact-controls button {
  padding: 0.6rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  background-color: #030c2d;
  color: white;
  transition: all 0.5s ease;
}

.fact-controls button:hover {
  background-color: #3f475c;
}

.fact-controls button:disabled {
  background-color: rgb(7, 17, 57);
  cursor: default;
}
